{
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
