@plugin "daisyui/theme" {
	name: 'alya';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(95% 0 0);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-primary: oklch(71% 0.202 349.761);
	--color-primary-content: oklch(0% 0 0);
	--color-secondary: oklch(67% 0.182 276.935);
	--color-secondary-content: oklch(0% 0 0);
	--color-accent: oklch(58% 0.253 17.585);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(27% 0.006 286.033);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(82% 0.111 230.318);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(84% 0.143 164.978);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(87% 0.169 91.605);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(81% 0.117 11.638);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}

@plugin "daisyui/theme" {
	name: 'alya-dark';
	default: false;
	prefersdark: false;
	color-scheme: 'dark';
	--color-base-100: oklch(14% 0.005 285.823);
	--color-base-200: oklch(20% 0 0);
	--color-base-300: oklch(27% 0.006 286.033);
	--color-base-content: oklch(100% 0 0);
	--color-primary: oklch(71% 0.202 349.761);
	--color-primary-content: oklch(0% 0 0);
	--color-secondary: oklch(67% 0.182 276.935);
	--color-secondary-content: oklch(0% 0 0);
	--color-accent: oklch(58% 0.253 17.585);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(98% 0.003 247.858);
	--color-neutral-content: oklch(0% 0 0);
	--color-info: oklch(82% 0.111 230.318);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(84% 0.143 164.978);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(87% 0.169 91.605);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(81% 0.117 11.638);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}
